@CHARSET "UTF-8";

/* reset */
body {
    
    margin: 0px;
}
ul{
	margin: 0px;
	padding: 0px;
}
li{
	display: block;
}
h1{
	margin: 0px;
}

/* ---common-------- */
.hidden{
	display: none;
}


#visual{
	height: 100px;
	background-color: #5e4b5e;
	padding-top: 50px;
	overflow: hidden;
	
	position: relative;
}

#visual .banner{
	height: inherit;
	
	display: flex;
	width: 300%;
	
	position: absolute;
	
	left: 0px;
	transition-duration: 1s;
	 
}

#visual .banner li{
	height: inherit;
	width: 100%;
}

#visual .mov-button{
	position: absolute;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	
	height: 100px;
}

.prev-button{
	text-indent: -999px;
	overflow: hidden;
	width: 33px;
	height: 52px;
 	background: url('../images/icon-banner-nav.png') no-repeat -35px center;
}

.next-button{
	text-indent: -999px;
	overflow: hidden;
	width: 33px;
	height: 52px;
	background: url('../images/icon-banner-nav.png') no-repeat -105px center;
}


#notice{
	height: 20px;
	background-color: aqua;
}

#lectures{
	min-height: 600px;
	position: relative;

}

#footer{
	height: 20px;
	background-color: blueviolet;
}


#header {
	position:fixed;
	background-color : white;
	width : 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/* flex-shrink: 2; */
	height: 50px;
	align-items: center;
	box-sizing: border-box;
	box-shadow: 2px 5px 0px #5e4b5e;
	padding: 10px;
	z-index: 99999;
	
	}
	
/* 
#header > div :first-child{
 	order :3;
}

#header > div{
 	order :2;
}
 */
#header > div :last-child{
 	order :1;
}

#header .content-container{
	flex-grow:1;
	text-align: center;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#header .content-container ul{

	
	display: flex;
	line-height: 50px;
	
}

#header > h1 img{
   
   vertical-align: middle;
}

#main-menu{
	display: none;
}



.title{
	font-size:12px;
	color : blue;
}

.list{
	
}

.table{
	
}

.form{
	
}
/* ----------------------------------------------------------------- */

.header{
	
}
.test{
	width: 100%;
	height:100px;
	background: gray;
}

.col-left{
	margin-left: 5%;
}

.col-right{

	margin-right: 5%;
}



.col-xs-1{
	width: 25%;
}
.col-xs-2{
	width: 50%;
}
.col-xs-3{
	width: 75%;
}
.col-xs-4{
	width: 100%;
}
/* ----------------------------------------------------------------- */
@media all and (min-width:480px) and (max-width : 768px) {
	#main-menu{
		display: block;
	}
	
	.more-vert-button{
		display: none;
	}
	
	
	.title {
		font-size: 30px;
		color: red;
	}

	.col-sm-1 {
		width: 16.66666%;
	}
	.col-sm-2 {
		width: 33.33333%;
	}
	.col-sm-3 {
		width: 49.88888%;
	}
	.col-sm-4 {
		width: 68.44444%;
	}
	.col-sm-5 {
		width: 83.33%;
	}
	.col-sm-6 {
		width: 100%;
	}
	
}


@media all and (min-width:768px) and (max-width : 1024px){
	.title {
		font-size: 50px;
		color: pink;
	}

	#header >h1 {
	    flex-grow: 1;
	    text-align: left;
	}
}

@media all and (min-width:1024px){
	.title {
		font-size: 90px;
		color: green;
	}

	#header >h1 {
	    flex-grow: 1;
	    text-align: left;
	}
}