<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newlecture.web.dao.ChapterDao">

	<select id="getListOfChapter" resultType="com.newlecture.web.entity.Chapter">
		select * FROM Chapter where lectureId = #{lectureId};
	</select>

</mapper>